@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
  font-family: 'Inter', sans-serif !important;
}

body {
  background-color: var(--primary-color);
  font-size: 1rem;
  line-height: 1rem !important;
  font-weight: 400;
  overflow: hidden;
}

button {
  cursor: pointer;
  border: none;
}

a {
  color: var(--secondary-color);
}
