@use '../../../styles/global/breakpoints' as breakpoint;

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.75rem;
  gap: 0.5rem;
  cursor: pointer;
  @include breakpoint.tablet {
    padding: 0.5rem;
  }

  &__title {
    flex: 90%;
    color: var(--primary-text-color);
    opacity: 0.6;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.6rem;
  }
  &__icon {
    flex: 10%;
    color: var(--primary-text-color);
    opacity: 0.6;
    @include breakpoint.tablet {
      display: none;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.links__li a {
  color: var(--secondary-text-color);
  padding: 0.75rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: var(--basic-transition);
  border-bottom: 1px solid var(--primary-color);

  p {
    @include breakpoint.tablet {
      display: none;
    }
  }
  svg {
    color: var(--accent-color);
    font-size: 1rem;
  }

  &:hover {
    background: var(--active-color);
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);

    svg {
      color: var(--primary-color);
    }
  }
}

.active {
  background: var(--active-color);
  color: var(--primary-color) !important;
  svg {
    color: var(--primary-color) !important;
  }
}
