@use '../../styles/global/breakpoints' as breakpoint;

.header {
  padding: 0.5rem 1.5rem;
  grid-area: head;
  border-bottom: 2px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include breakpoint.tablet {
    padding: 0.5rem;
    justify-content: center;
    width: 100%;
    gap: 1rem;
  }
}

.title {
  font-weight: bold;
  font-size: 1rem;
  margin-right: 0.75rem;
  color: var(--primary-text-color);
  @include breakpoint.tablet {
    display: none;
  }
}

.search {
  width: 50%;
  min-width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @include breakpoint.tablet {
    width: 80%;
  }

  &__input {
    width: 100%;
    font-size: 0.75rem;
    padding: 0.45rem;
    padding-left: 2.5rem;
    border: 2px solid var(--secondary-text-color);
    border-radius: var(--border-radius-md);
    outline-color: var(--accent-color);
    font-weight: 500;
  }

  &__icon {
    width: 0.75rem;
    position: absolute;
    left: 10px;
    color: var(--border-color);
  }
}
