@use '../../styles/global/breakpoints' as breakpoint;

.navbar {
  grid-area: nav;
  border-right: 2px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.logo {
  padding: 0.75rem;
  display: flex;
  width: 100%;
  height: 100px;
  padding: 0.5rem;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 2rem;
  @include breakpoint.tablet {
    justify-content: center;
  }

  &__image {
    width: 2.5rem;
    height: 2.5rem;
  }
  &__title {
    font-weight: bold;
    color: var(--primary-text-color);

    @include breakpoint.tablet {
      display: none;
    }
  }
}

.settings {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  border-top: 2px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
  padding: 0.75rem;
  cursor: pointer;

  &__title {
    flex: 90%;
    color: var(--primary-text-color);
    opacity: 0.6;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.6rem;
    @include breakpoint.tablet {
      display: none;
    }
  }
  &__icon {
    flex: 10%;
    color: var(--primary-text-color);
    opacity: 0.6;
  }
}
